/* collections */

.collections {
  height: 100%;
  margin-top: 30px;
  background-color: var(--background-color);
}

.collections .container {
  height: 100%;
}

.collections .border {
  /*DO THIS IN ALL SUBPAGES*/
  margin: 35px 35px 155px 35px;
  background-color: var(--background-color);
}

.collections .grid {
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 35px;
}

.collections h1 {
  margin: 0;
}

.collections .collections-box {
  aspect-ratio: 4 / 1;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  font-family: "marlboro";
  color: var(--primary-color);
  font-size: 56px;

  transition-duration: 0.5s;
}

.collections .col-box1 {
  position: relative;
  overflow: hidden;

  background-image: url("/images/creationadam hoodie/grey back model.png");
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

.collections .col-box2 {
  position: relative;
  overflow: hidden;

  background-image: url("/images/creationadam hoodie/grey front model.png");
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

.collections .col-box3 {
  position: relative;
  overflow: hidden;

  /* background-image: url("images/back for collection 1.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
}

.collections .collections-box p {
  z-index: 2;
  /* background-color: var(--third-color);
    border-radius: 10px;
    padding: 2px 8px; */
  /* border: 2px solid #79411b; */
  /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
  color: var(--primary-color);
  text-decoration: none;
  align-self: center;
  margin: 0 auto;
  background-color: rgba(185, 185, 185, 0.5);
  box-shadow: 0 0 10px rgb(185, 185, 185);
}

.collections .collections-box a {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.collections-boxes .grid p {
  color: var(--primary-color);
}
/* 
.collections .collections-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 135, 135, 0.366);
  pointer-events: none;
} */

.collections .collections-box:hover {
  border: 1px solid var(--secondary-color);
  transform: scale(1.01);
  cursor: pointer;
}
