:root {
  --primary-color: #ab5c27;
  --secondary-color: #0a6838;
  --background-color: #f3f3f3;
  --third-color: #e3e3e3;
}

.product-page {
  height: 100%;
  margin-top: 30px;
}

.product-page img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.product-page .border {
  margin: 35px 35px 155px 35px;
}

.product-page .container-product-img-description {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.border-product-page {
  margin: 0 50px;
}

.border-product-page .flex {
  gap: 70px;
  width: 100%;
}

/* IMAGE SECTION */

.product-image-section {
  height: 100%;
  width: 60%;
}

.product-image-section .flex {
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.product-image-section .image-variant-selector {
  width: 80px;
  height: 100%;
  margin-top: 35px;
}

.image-variant-selector .flex {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
}

.product-image-section .image-variant-selector img {
  background-color: var(--third-color);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.product-image-section .image-variant-selector img:hover {
  border: 1px solid var(--secondary-color);
}

.product-image-section .main-image-product-page {
  width: 100%;
}

.product-image-section .main-image-product-page img {
  background-color: var(--third-color);
  border-radius: 5px;
  cursor: crosshair;
}

/* DESCRIPTION PART */

.product-description-section {
  width: 40%;
  height: 800px;
}

.product-description-section .flex {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}

.product-description-section .product-name h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: "lusitana";
}

.product-description-section .product-price h4 {
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 5px;
  font-family: "lusitana";
  font-weight: lighter;
}

.product-description-section .product-description {
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 20px;
  font-family: "lusitana";
}

.product-description-section .color-options-section {
  margin-top: 40px;
}

.product-description-section .color-options-section .flex {
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.product-description-section .color-options-section h4 {
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: "lusitana";
}

.product-description-section .color-options-section .color-options {
  height: 65px;
  aspect-ratio: 4 / 5;
  background-color: var(--third-color);
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.product-description-section .color-options-section .color-options:hover {
  transform: scale(1.05);
}

.product-description-section .size-section {
  width: 100%;
  margin-top: 20px;
  font-family: "lusitana";
}

.product-description-section .size-section h4 {
  font-size: 20px;
  color: var(--secondary-color);
}

.product-description-section .size-section .flex {
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: start;
}

.product-description-section .size-section .size-selector {
  width: 45px;
  height: 45px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.product-description-section .size-section .size-selector:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--secondary-color);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.product-description-section .size-section .size-selector h1 {
  font-size: 22px;
  font-weight: lighter;
  color: var(--secondary-color);
}

.product-description-section .size-chart {
  margin-top: 10px;
  color: var(--secondary-color);
  font-family: "lusitana";
  cursor: pointer;
  transition-duration: 0.2s;
}

.product-description-section .size-chart:hover {
  font-weight: bold;
}

/* buttons buy */

.product-description-section .buttons-product-page {
  width: 100%;
  margin-top: 40px;
}

.product-description-section .buttons-product-page .flex {
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.product-description-section .buttons-product-page .add-to-cart {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.product-description-section .buttons-product-page .add-to-cart:hover {
  background-color: var(--hover-secondary-color);
  transform: scale(1.01);
}

.product-description-section .buttons-product-page .add-to-cart .flex {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.product-description-section .buttons-product-page .add-to-cart ion-icon {
  font-size: 20px;
}

.product-description-section .buttons-product-page .add-to-cart p {
  font-size: 20px;
  font-family: "lusitana";
}

/* WISHLIST */

.product-description-section .buttons-product-page .add-to-wishlist {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.product-description-section .buttons-product-page .add-to-wishlist:hover {
  border: 2px solid var(--hover-secondary-color);
  transform: scale(1.01);
  color: var(--hover-secondary-color);
}

.product-description-section .buttons-product-page .add-to-wishlist .flex {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.product-description-section .buttons-product-page .add-to-wishlist ion-icon {
  font-size: 20px;
}

.product-description-section .buttons-product-page .add-to-wishlist p {
  font-size: 20px;
  font-family: "lusitana";
}

/* extra info */

.product-description-section .extra-information-product {
  margin: 60px 15px 0 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.product-description-section .extra-information-product .specifications,
.shipping,
.reviews,
.others-wearing-it {
  height: 40px;
  border-top: 0.5px solid var(--secondary-color);
  border-bottom: 0.5px solid var(--secondary-color);
  border-left: 0;
  border-right: 0;
  margin-top: 20px;
}

.product-description-section .extra-information-product .flex {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.product-description-section .extra-information-product .flex > * {
  margin: 0 15px 0 15px;
  color: var(--secondary-color);
  font-size: 20px;
}

.product-description-section .extra-information-product .reviews {
  position: relative;
}

.product-description-section .extra-information-product .reviews .flex-review {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 30px;
}

.product-description-section
  .extra-information-product
  .reviews
  .flex-review
  p {
  margin-right: 10px;
}

.product-description-section
  .extra-information-product
  .individual-information-product {
  transition-duration: 0.2s;
}

.product-description-section
  .extra-information-product
  .individual-information-product:hover {
  transform: scale(1.01);
  color: var(--hover-secondary-color);
}

/* YOU MAY LIKE SECTION */

.you-may-like {
  margin-top: 70px;
  width: 100%;
}

.you-may-like .flex {
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}

.you-may-like h1 {
  font-family: "lusitana";
}

.you-may-like .move-image-buttons .circle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  margin-left: 10px;
  cursor: pointer;
}

.you-may-like .move-image-buttons .circle .flex {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.you-may-like .move-image-buttons .circle .flex > * {
  font-size: 25px;
}

.you-may-like .flex-you-may-like-carousel {
  margin-top: 20px;
}

.you-may-like .flex-you-may-like-carousel {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 500px;
  flex-direction: row;
  gap: 20px;
}

.you-may-like .products-you-may-like {
  height: 500px;
  aspect-ratio: 4/6.5;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 5px;
}

.you-may-like .products-you-may-like:hover {
  border: 1px solid var(--secondary-color);
  transform: scale(1.01);
}

.you-may-like .products-you-may-like .flex {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.you-may-like .product-image-you-may-like {
  width: 100%;
  background-color: var(--third-color);
}

.you-may-like .product-description-you-may-like {
  width: 100%;
  margin: 10px 5px 5px 5px;
}

.you-may-like .product-description-you-may-like .flex {
  flex-direction: column;
  height: 100%;
}

.you-may-like
  .product-description-you-may-like
  .flex
  .product-name-you-may-like
  h1 {
  font-size: 24px;
}

.you-may-like
  .product-description-you-may-like
  .flex
  .product-price-you-may-like
  h4 {
  font-weight: lighter;
  font-size: 18px;
}

.you-may-like .product-description-you-may-like .color-available {
  margin-top: 10px;
}

.you-may-like .product-description-you-may-like .color-available .flex {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.you-may-like .product-description-you-may-like .color-available .circle-color {
  width: 25px;
  height: 25px;
  background-color: var(--third-color);
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}
