:root {
  --primary-color: #ab5c27;
  --secondary-color: #0a6838;
  --background-color: #f3f3f3;
  --third-color: #e3e3e3;
}

.product-page {
  display: flex;
  margin: 65px 35px 35px 35px;
  height: 100%;
}

.product-page .border {
  margin: 30px;
}

.product-page img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

/* IMAGE SECTION */

.product-page .product-page .image-section-product {
  width: 65%;
  height: 100%;
}

.image-section-product .container {
  height: 100%;
}

.image-section-product .grid {
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
}

.image-section-product .product-details {
  height: 100%;
}

#product-image,
#product-image2,
#product-image3,
#product-image4 {
  background-color: var(--third-color);
}

#product-image,
#product-image2,
#product-image3,
#product-image4:hover {
  cursor: zoom-in;
}

.image-product {
  align-self: flex-start;
}

.general-pop-image {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#image-popup {
  aspect-ratio: 1 / 1;
}

#image-popup .popup-content {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

#image-popup .close-btn-image {
  font-size: 45px;
  color: var(--background-color);
  margin-right: 20px;
  margin-top: 5px;
  transition-duration: 0.3s;
  float: right;
  z-index: 999;
}

#image-popup .close-btn-image:hover {
  color: #b1b1b1;
  cursor: pointer;
}

#popup-image {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
  cursor: grab;
}

/* DESCRIPTION PART */

/* .product-description-page .container {
  margin-left: 30px;
} */

.product-description-page {
  width: 55%;
  height: 100%;
  font-family: "lusitana";
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: 30px;
  z-index: 10;
}

.product-description-page .product-details {
  font-family: "lusitana";
  color: var(--secondary-color);
}

.product-description-page .grid {
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
}

.product-description-page h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description-page .product-inf-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
}

.product-description-page #product-description {
  margin-bottom: 40px;
}

.product-description-page #size-outside-box {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.product-description-page .size-chart {
  font-family: "lusitana";
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.product-description-page #size-outside-box div {
  display: inline-block;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.product-description-page #size-outside-box div:hover {
  border: 1px solid var(--secondary-color);
}

.product-description-page .size-chart p {
  margin-top: 5px;
  cursor: pointer;
}

.size-option.selected {
  background-color: var(--third-color);
  border: 1px solid var(--secondary-color);
}

/* Popup container - hidden by default */
.popup {
  display: none;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* PRODUCT PRICE */
.product-description-page .product-details #product-price {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-details .color-product {
  margin-bottom: 10px;
}

.product-description-page #color-options {
  display: flex;
  aspect-ratio: 1 / 1;
  height: 60px;
  gap: 10px;
  margin-bottom: 20px;
}

.product-description-page .color-option {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-color: var(--third-color);
}

.product-description-page .color-option:hover {
  border: 1px solid var(--secondary-color);
}

.product-description-page .buy-buttons .add-to-cart-button,
.paypal-btn {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

.product-description-page .buy-buttons .flex {
  flex-direction: column;
  gap: 10px;
}

.product-description-page .buy-buttons .paypal-btn {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-weight: bold;
  font-family: "lusitana";
  font-size: 24px;
  cursor: pointer;
}

.product-description-page .buy-buttons .add-to-cart-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  font-family: "lusitana";
  font-size: 24px;
  cursor: pointer;
}

/* Popup content */
.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  width: 80%;
}

.popup-content .img-diagram {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content .img-diagram img {
  width: 80%;
}

/* Close button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* YOU MAY LIKE SECTION */

.you-may-like {
  font-family: "lusitana";
  color: var(--secondary-color);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.you-may-like .border {
  margin: 35px;
}

.you-may-like .container {
  margin: 0;
  max-width: 1400px;
}

.you-may-like .flex {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.you-may-like .box {
  height: 250px;
  width: 200px;
  background-color: var(--third-color);
  border: 1px solid black;
}

.you-may-like h2 {
  margin: 0px 0 15px 0;
}

.products-youmaylike {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-bottom: 30px;
}

.products-youmaylike #grid-youmaylike {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

.products-youmaylike .youmaylike-product {
  height: 280px;
  width: 220px;
}

.youmaylike-product {
  display: grid;
  overflow: hidden;
  transition: border-color 0.3s, border-width 0.3s;
  cursor: pointer;
  overflow: visible;
}

.youmaylike-product:hover {
  border: 1px solid var(--secondary-color);
}

.youmaylike-product img {
  max-width: 100%;
  width: 100%;
  background-color: var(--third-color);
}

.youmaylike-product h3 {
  font-size: 20px;
  margin: 5px;
}

.scroll-snap-inline > * {
  scroll-snap-align: start;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 5px 15px 5px 15px;
  background-color: rgba(243, 243, 243, 0.8);
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}

.products-youmaylike::-webkit-scrollbar {
  margin-top: 5px;
  width: 10px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

.products-youmaylike::-webkit-scrollbar-track {
  background: var(--background-color);
}

.products-youmaylike::-webkit-scrollbar-thumb {
  background: var(--secondary-color); /* Color of the thumb */
  border-radius: 0; /* Rounded corners */
}

.products-youmaylike::-webkit-scrollbar-thumb:hover {
  background: #074726; /* Color of the thumb on hover */
}
