/* LOADER */

.loading-screen {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-family: "MarlboroRegular", "lusitana";
  pointer-events: none;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-weight: normal;
  color: var(--primary-color);
  font-size: 48px;
  animation: typing 1s steps(24, end), fadeOut 1s 1s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14%;
  }
}

/* MAIN IMAGES SECTION */

img {
  max-width: 100%;
}

.main-image {
  height: 100%;
  background-color: var(--background-color);
  width: 100%;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.main-image .grid2 {
  display: grid;
  grid-template-rows: 100%;
}

.main-image #image-main-mobile {
  visibility: hidden;
  object-fit: cover;
  width: 100%;
  display: none;
}

.main-image #img-main-pc {
  visibility: visible;
  display: block;
}

/* MAIN SECTION */

.main-section .border {
  margin: 35px;
  background-color: var(--background-color);
}

.main-section {
  height: 50%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: "lusitana";
}

.main-section h1 {
  font-weight: bold;
  font-size: 48px;
}
/* 
.main-section .flex {
  justify-content: space-between;
  gap: 15px;
  margin: 5px;
} */

.main-section .grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 35px;
}

.product-box {
  width: 100%;
  height: 100%;
  /* width: calc(100% - 45px);
  height: 400px;
  margin-top: 35px; */
  background-color: var(--background-color);
  /* border: 1px solid black; */
  transition-duration: 0.5s;
  /* margin: 20px 0px 0px 15px; */
}

.product-box:hover {
  border: 1px solid var(--secondary-color);
  transform: scale(1.01);
  cursor: pointer;
}

.box-inside {
  position: relative;
  width: 100%; /* Set width to 100% */
  height: 0; /* Set initial height to 0 */
  padding-top: 100%; /* Create a square aspect ratio using padding */
  background-color: var(--third-color);
}

.box-inside img {
  position: absolute;
  top: 0;
}

.product-content {
  margin: 15px 0 15px 10px;
}

.price {
  margin-top: 10px;
}

.color-choices {
  display: flex;
  margin-top: 10px;
}

.color-circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.color1 {
  background-color: white;
}

.color2 {
  background-color: var(--secondary-color);
}

.color3 {
  background-color: grey;
}

.color4 {
  background-color: rgb(41, 41, 41);
}

/* CATEGORIES */

.categories {
  height: 100%;
  background-color: var(--background-color);
}

.categories .border {
  margin: 35px 35px 155px 35px;
}

.categories h1 {
  font-weight: bold;
  font-size: 48px;
  color: var(--secondary-color);
}

.category-box {
  aspect-ratio: 1 / 1;
  /* width: 100%;
  height: 25vw; */

  /* width: calc(100% - 30px);
  height: calc(75% - 30px); */
  /* background-color: var(--third-color); */
  font-family: "MarlboroRegular", "lusitana";
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 76px;
  position: relative;
  overflow: hidden;

  background-image: url("images/creation adam t shirt/creation adam t shirt back model.png");

  transition-duration: 0s;
}

.overlay {
  border-image: fill 0 linear-gradient(#0003, #000);
}

/* 
.category-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 174, 174, 0.5); 
  pointer-events: none; 
} */

.category-box:hover {
  border: 1px solid var(--secondary-color);
  transform: scale(1.01);
  cursor: pointer;
  transition-duration: 1s;
}

.categories .text-in-collection-box {
  z-index: 10;
  cursor: pointer;
}

/* .categories .flex {
  justify-content: space-between;
  gap: 15px;
  margin: 5px;
  height: 400px;
} */

.categories .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  gap: 15px;
  margin: 35px 0;
}

.category-box img {
  position: absolute;
  width: 100%;
}

.categories a {
  text-decoration: none;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

/* .categories .flex {
  margin: 0 35px 5px 35px;
} */

.categories .cat-box1 {
  background-image: url("images/creation adam t shirt/creation adam t shirt back model.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categories .container {
  width: 100%;
  height: 100%;
}
/* 
.categories .cat-box2 {
}

.categories .cat-box3 {
} */
