*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MarlboroRegular";
  src: url("/Font/marlboro.regular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* MAIN UTILITY */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: var(--background-color);
}

:root {
  --primary-color: #ab5c27;
  --secondary-color: #0a6838;
  --background-color: #f3f3f3;
  --third-color: #e3e3e3;
}

.main-content {
  height: 100%;
  overflow: visible;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.border {
  margin: 0 35px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: var(--secondary-color);
}

.sub-square {
  visibility: hidden;
  width: 20px;
  height: 20px;
  background-color: black;
}

/* CODE FOR JAVASCRIPT WORKING */

#main-logo-id.hidden {
  visibility: none;
  pointer-events: none;
}

.search-bar.overtop {
  z-index: 999;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* NAVBAR */

.navbar h1 {
  font-family: "MarlboroRegular", "lusitana";
  color: var(--primary-color);
  font-size: 50px;
  justify-self: center;
  font-weight: normal;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: var(--background-color);
  color: var(--secondary-color);
  position: relative;
}

.navbar .main-logo a {
  text-decoration: none;
}

.navbar .main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar .main-nav {
  justify-self: start;
}

.navbar .second-nav {
  justify-self: end;
}

.navbar a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: "lusitana";
}

.navbar a span::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
}

.navbar a span:hover::after {
  width: 100%;
  transition: width 0.4s;
}

.navbar .second-nav a {
  margin-left: 20px;
}

.navbar .main-nav a {
  margin-right: 20px;
}

.navbar .grid {
  height: 60px;
  grid-template-rows: 60px;
  align-items: center;
  justify-content: center;
}

.navbar #menu-btn {
  position: absolute;
  top: 30%;
  color: var(--secondary-color);
  font-size: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-duration: 0.3s;
}

.navbar i {
  visibility: hidden;
  transition-duration: 0.2s;
  display: none;
}

.navbar #menu-btn i:hover {
  transform: scale(1.05);
}

.navbar .right-hand-menu i:hover {
  transform: scale(1.05);
}

.navbar .border {
  position: relative;
}

.navbar .right-hand-menu {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 30%;
  right: 0%;
  color: var(--secondary-color);
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.right-hand-menu i {
  margin-left: 15px;
  transition-duration: 0.2s;
  cursor: pointer;
}

/* NAVBAR MESSAGE BOARD */

.message-board {
  height: 30px;
  background-color: var(--secondary-color);
  color: white;

  display: relative;
  overflow: hidden;
  font-family: "great vibes";

  white-space: nowrap; /* Prevents the text from breaking into a new line */
  overflow: hidden; /* Ensures that the overflowing text doesn't cause a horizontal scrollbar */
  text-overflow: clip;
}

.dottie {
  color: var(--secondary-color);
}

.message-board p {
  position: absolute;
  left: calc(250px * 6);
  top: 62px;
  font-size: 22px;
  animation: right-left;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: default;
}

.message-board .p1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}
.message-board .p2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}
.message-board .p3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}
.message-board .p4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}
.message-board .p6 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}
.message-board .p7 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

@keyframes right-left {
  from {
  }
  to {
    left: -50%;
  }
}

/* MENU FOR MOBILE */

#menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: 99;
  background-color: var(--background-color);
  border-right: 2px solid var(--secondary-color);
  transition: width 0.6s;
}

#menu-mobile .container {
  width: calc(100% - 70px);
  margin: 35px 35px;
}

#menu-mobile .grid {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#menu-mobile #exit-btn {
  color: var(--secondary-color);
  font-size: 25px;
  transition-duration: 0.3;
}

#menu-mobile .grid a {
  text-decoration: none;
  font-family: "lusitana";
  color: var(--secondary-color);
  font-size: 25px;
}

#menu-mobile .grid div {
  margin-bottom: 50px;
  transition-duration: 0.3;
}

#menu-mobile #exit-btn:hover {
  transform: scale(1.01);
  cursor: pointer;
}

#menu-mobile .grid div span {
  display: inline-block;
}

#menu-mobile .grid div span::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
}

#menu-mobile .grid div span:hover::after {
  width: 100%;
  transition: width 0.4s;
}

#menu-mobile.open {
  width: 50%;
}

/* 
@keyframes slide-right {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
} */

@keyframes slide-left {
  from {
    width: 50%;
  }
  to {
    width: 0%;
  }
}

#menu-mobile.close {
  animation: slide-left 0.5s forwards;
}

/* SEARCH BAR */

.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar #search-bar-box {
  width: 0%;
  height: 0%;
  border-radius: 15px;
  background-color: var(--background-color);
  border: none;
  transition: height width 1s forwards;
  caret-color: var(--secondary-color);
}

.search-bar input {
  padding: 5px 10px;
  z-index: 999;
}

.search-bar input ::placeholder {
  font-family: "lusitana";
  color: var(--secondary-color);
}

.search-bar input:focus {
  outline: 4px solid var(--secondary-color);
}

/* FOOTER */

footer {
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  font-family: "lusitana";
  position: static;
  z-index: 0;
}

footer .container {
  width: 100%;
  max-width: 100%;
  overflow: visible;
}

footer .grid {
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  width: 100%;
}

footer .grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  color: var(--background-color);
  margin-top: 25px;
  display: flex;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}

footer i:hover {
  color: rgb(188, 188, 188);
}

footer .email-in {
  color: var(--background-color);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}

footer .email a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-self: center;
}

footer h1 {
  font-family: "MarlboroRegular", "lusitana";
  color: var(--background-color);
  font-size: 50px;
  justify-self: center;
  font-weight: normal;
  margin-bottom: 0;
}

footer h2 {
  font-family: "great vibes";
  color: var(--background-color);
  font-size: 15px;
  font-weight: normal;
  margin-top: 0;
}

footer .logo-name-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

footer .logo-shape {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .copyright-bottom {
  font-family: "lusitana";
  color: var(--background-color);
  background-color: var(--secondary-color);
  font-size: 10px;
}

footer .grid3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container {
  background-color: var(--secondary-color);
}

footer h3 {
  font-weight: bold;
  font-size: 18px;
}

footer .grid2 {
  font-family: "lusitana";
  color: var(--background-color);
}

footer .grid2 .flex {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

footer .grid2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

footer .grid2 a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 12px;
  margin: 5px 10px;
  transition-duration: 0.2s;
}

footer .grid2 a:hover {
  color: rgb(188, 188, 188);
}

footer img {
  max-width: 100%;
  width: 40px;
}

footer .logo-shape {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1180px) {
  .search-bar {
    width: 30%;
  }
}

@media screen and (max-width: 1180px) {
  /* NAVBAR */

  .navbar a {
    transition-duration: none;
  }

  .navbar i {
    visibility: visible;
    display: block;
  }

  .navbar .sub-square {
    visibility: visible;
  }

  .menu-btn,
  .right-hand-menu {
    visibility: visible;
  }

  .main-nav ul {
    visibility: hidden;
    transition-duration: 0;
  }

  .second-nav ul {
    visibility: hidden;
    transition-duration: 0;
  }

  .main-image {
    height: calc(100vh - 150px);
  }
}

/* TABLET */

@media screen and (max-width: 1100px) {
  .categories {
    height: 20%;
  }
}

@media screen and (max-width: 968px) {
  .main-section .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories .flex {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .categories .category-box {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 /1;
  }

  .categories .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .categories {
    height: 20%;
  }

  .main-image img {
    visibility: hidden;
  }

  .main-image .image-main-mobile {
    visibility: visible;
  }

  footer .grid {
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: 100%;
    margin-bottom: 0;
  }

  footer .border {
    margin: 0;
    padding: 35px;
  }

  footer .grid2 .flex {
    margin-top: 12px;
  }
}

/* PHONE */

@media screen and (max-width: 600px) {
  .categories {
    height: 20%;
  }

  .main-content .language-change-icon {
    display: none;
  }

  .main-image {
    height: calc(100vh - 500px);
  }

  .navbar h1 {
    font-size: 40px;
  }

  .navbar .grid {
    grid-template-columns: repeat(3, 33%);
  }

  .main-section-about .border-about-text {
    width: 100%;
  }
}
